<br><br><br><br><br>
<div class='account' ng-controller='authControl as auth'>
<h2>Hey there, {{projects.currentUser.username}}</h2><br>
<h3 class='account-user' ng-click='showUsername = !showUsername'>update username</h3><br>
<form class="update-username" ng-submit="auth.updateUsername(projects.currentUser)" method="post" ng-show='showUsername'>
  <input type="text" name="username" ng-model="projects.currentUser.username"><br><br>
  <button class='nice-button' type="submit" name="update">Update</button>
</form><br>
<h3 class='account-user' ng-click='showPassword = !showPassword'>
  update password</h3><br>
  <form class="update-password" ng-submit="auth.setPassword(projects.currentUser)" method="POST" ng-show='showPassword'>
    <input type="password" name="password" placeholder='curren password'ng-model="projects.currentUser.password"><br>
    <!-- <label for="passwordConfirm" id='password'>Confirm password</label><br> -->
    <input class="update-password" type="password" placeholder='confirm password' name="passwordConfirmation" ng-model="projects.currentUser.passwordConfirmation"><br><br>
    <button class='nice-button' type="submit" name="update">Update</button>
  </form>
  <br><br>
</div>
