<br><br>
<div class='project-container'>
<h1>Project {{projects.activeProject.projectName}}</h1>
<flash-message duration = "7000" show-close = 'true'></flash-message>

<div class='complete'>
<input class='completed' type="checkbox" value='true' ng-checked='projects.activeProject.completed' ng-click='projects.updateProjectStatus()' ui-sref='completedprojects'></input>
</div>
<h3>Description</h3>
<p class='project-description'>{{projects.activeProject.projectDescription}}</p>
<br>
<div class='task-container'>
<div ng-repeat='task in projects.activeProject.taskList'>
  <div class='align'>
  <h5 class='align-name'>{{task.name}}</h5>
  <p class='align-description'>{{task.description}}
      {{task.totalTime}}</p>
  <p class='align-details' class='task-details' ng-click='showDetails = !showDetails'>Click for details</p></div>
    <div ng-repeat="timeperiod in task.taskTimeList | orderBy: '-start'" ng-show='showDetails'>
      <p class='details'>user: {{timeperiod.user}}</p>
      <hr>
      <p class='details'>start: {{timeperiod.start | date : 'short'}}</p>
      <hr>
      <p class='details'>stop: {{timeperiod.stop | date : 'short'}}</p>
    </div>
</div>
</div>
</div>
