
<br><br><br><br><br>
Completed Projects
<br><br>
<!-- <div class='proj-container'>
<h2 class='completed-projects'>Name</h2>
<h2 class='completed-projects-total'>Total Hours</h2>
</div> -->

<ul class='list'>
  <div ng-repeat="project in projects.allProjects track by $index">
    <div class="completed-project" ng-click='projects.displayThisProject($index)' ui-sref-active='active' ui-sref='.completedproject'>
    <!-- ui-sref='completedprojects.completedproject({projectId: project._id})'  what's this? -->
    <li class='project-list' ng-if='project.completed'>{{project.projectName}}</li>
    </div>
  </div>
</ul>

<!-- custom directive for list of projects - filter: ones marked as completed only  -->
<project-listing></project-listing>

<div ui-view><div>
