COMPLETED PROJECT PAGE
<flash-message duration = "7000" show-close = 'true'></flash-message>
<h1>Project {{projects.activeProject.projectName}}</h1>

<input class='completed' type="checkbox" value='true' ng-checked='projects.activeProject.completed' ng-click='projects.updateProjectStatus()' ui-sref='completedprojects'></input>

<h3>Description</h3>
<p class='project-description'>{{projects.activeProject.projectDescription}}</p>

<br>

<div class='task-container'>
<div ng-repeat='task in projects.activeProject.taskList'>
  <h5>Task Name: {{task.name}}</h5>
  <h6>Task Description: {{task.description}}
      {{task.totalTime}}</h6>
  <p class='task-details' ng-click='showDetails = !showDetails'>Details</p>
    <div ng-repeat='timeperiod in task.taskTimeList' ng-show='showDetails'>
      <hr>
      {{timeperiod.user}}
      <hr>
      {{timeperiod.start}}
      <hr>
      {{timeperiod.stop}}
      <hr>
      {{task.username}}
    </div>
</div>
</div>
