
<br><br>

<flash-message duration = "7000" show-close = 'true'></flash-message>

<div class='project-container'>
<h1 id='project-title'> {{projects.activeProject.projectName}}</h1>
<a id='edit-button' ui-sref-active='active' ui-sref="projects.edit({projectId:projects.activeProject._id})">Edit Project</a>
<!-- a ui-sref='projectedit' -->
<div class='complete'>
<label>Complete? </label><br><div class='complete-box'><input class='completed' type="checkbox" value='true' ng-checked='projects.activeProject.completed' ng-click='projects.updateProjectStatus()' ui-sref='projects'></input></div>
</div>

<h3>Description</h3>
<p class='project-description'>
  {{projects.activeProject.projectDescription}}
</p>
<br>
<!-- <div id='column2'> -->
<h4>Tasks</h4>
<div class='task-container'>
<div ng-repeat='task in projects.activeProject.taskList track by $index'>
  <h5>{{task.name}}</h5>
  <h6>{{task.description}}
      {{task.totalTime}}</h6>
      <div id='container'>
      <button class='play' ng-click='projects.updateTaskTimePeriod($index)' ng-if='!projects.activeUserTaskStates[$index].outstanding'><div class='s-button'>&#9656</div></button>
      <button class='play' ng-click='projects.updateTaskTimePeriod($index)' ng-if='projects.activeUserTaskStates[$index].outstanding'><div class='s-button'>&#9632</div></button>
      </div>
  <p class='task-details' ng-click='showDetails = !showDetails'>Details</p>
    <div ng-repeat="timeperiod in task.taskTimeList | orderBy: '-start'" ng-show='showDetails'>
      user: {{timeperiod.user}}
      <hr>
      start: {{timeperiod.start | date : 'short'}}
      <hr>
      stop: {{timeperiod.stop | date : 'short'}}
    </div>
</div>
</div>
</div>
<!-- in order to make the dot notation work - KEEP -->
<!-- <div ui-view><div> -->
