
<br><br><br><br><br>
<!-- create a new project -->
<a ui-sref-active='active' ui-sref='projects.projectnew' class='add-project'>Add A Project</a>
<br><br>
<div class='proj-container'>
<br><br>
<!-- <h2 class='projects-new'>Name</h2>
<h2 class='projects-total'>Total Hours</h2> -->
</div>
<ul class='list'>
  <div ng-repeat="project in projects.allProjects track by $index">
    <div class="" ng-click='projects.displayThisProject($index)' ui-sref-active='active' ui-sref='.project' ng-hide='completedprojects'>
    <li class='project-list' ng-if='!project.completed'>
<!-- ui-sref='projects.project({projectId: project._id})' -->
       {{project.projectName}}</li>
    </div>
  </div>
</ul>

<div ui-view><div>
