<h2>Create New Project</h2>

<form ng-submit='projects.addProject(newProject)'>
        <div class="">
          <label for="name">Name: </label>
          <input type="text" ng-model='newProject.name'>
          <label for="description">Description: </label>
          <input type="text" ng-model='newProject.description'>
        </div>
        <button type="button" name="button">Create New Task</button>
        <div class="tasks" id='taskList'>
        </div>
        <button type="submit">Create Project!</button>
      </form>
