<br><br><br><br><br>
<div class='list' id='add'><a ui-sref-active='active' ui-sref='projects.projectnew' class='add-project'><div class='name'>Add<br>A Project</div></a></div>
<!-- <p ng-model=projects.testNumber>
</p>
{{projects.testNumber}} -->
<br><br>
<div class='proj-container'>
<br>
</div>
<ul class='list'>
  <div ng-repeat="project in projects.allProjects track by $index" ng-if='!project.completed'>
    <div class="active-project" ng-click='projects.displayThisProject($index)' ui-sref-active='active' ui-sref='projects.project({projectId: project._id})'>
    <li class='project-list'><div class='name'>{{project.projectName}}
      <br><div class='clock-body'><a class="clock icon" title="Clock" href="#"></a>{{projects.allProjectsTotalTime[$index].projectTotalTime}} hrs</div></div></li>
    </div>
  </div>
</ul>

<div ui-view><div>
