
<br>
Welcome, {{user.username}}
<br>
<br>
<!-- create a new project -->
<a ui-sref-active='active' ui-sref='projectnew' class='add-project'>Add A Project</a>
<br><br>
<!-- css so this is on one line above project listings -->
<div class='proj-container'>
<h2 class='projects-new'>Name</h2>
<h2 class='projects-total'>Total Hours</h2>
</div>
<!-- custom directive for list of projects - filter ones marked as not completed only  -->
<ul>

  <div class="" ng-repeat="project in projects.allProjects track by $index" ng-click='projects.displayThisProject($index)' ui-sref-active='active' ui-sref='project'>
    <li>{{project.projectName}}</li>
  </div>
</ul>
<data value=""></data>
<!-- <project-listing></project-listing> -->
